.list-group-item {
  border: unset;
}

.panel-default {
    .panel-heading {
      background-color: unset;
      border-color: transparent;
      font-weight: 600;
    }
  
    .panel-footer {
      background-color: unset;
      border-color: transparent;
    }
  }

  .panel-body {
    overflow: hidden;
  }
  
  label {
    font-weight: unset;
  }
  
  th {
    font-weight: unset;
  }