#app {

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .badge {
    padding: 5px;
  }

  .btn-sm {
    padding: 0px 4px 0px 4px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-header {
    background-color: unset;
    border: unset;
    font-weight: 600;
    padding: 10px 15px;
  }

  .card-footer {
    background-color: unset;
    border: unset;
    padding: 10px 15px;
  }

  .container {
    max-width: 1400px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .list-group-item {
    border: unset;
  }

  label {
    font-weight: unset;
  }

  th {
    font-weight: unset;
  }
  .input-group .form-control{
    z-index: unset;
  }

  .dropdown-menu {
    font-size: 14px;
  }

}