@import '../../node_modules/react-datetime/css/react-datetime.css';

body #app {
  font: 14px Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

#app {

  a {
    color: #4d4d4d;
  }

  #main {
    margin-top: 60px;
  }

  .badge {
    color: #ffffff;
  }

  .cursor-pointer {
    cursor: pointer
  }

  .padding-0 {
    padding: 0px;
  }

  .margin-0 {
    margin: 0px;
  }

  .panel-large {
    height: 600px;
  }

  .panel-medium {
    height: 380px;
  }

  .panel-small {
    height: 230px;
  }

  .panel-no-padding .panel-body {
    padding: 0px;
  }

  .panel-large .panel-body {
    height: 600px;
  }

  .panel-small .panel-body {
    height: 380px;
  }

  .panel-small .panel-body {
    height: 380px;
  }

  .panel-tiny .panel-body {
    height: 200px;
  }

  .border-no-radius {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .border-no-left {
    border-left: 0px;
  }

  .border-no-right {
    border-left: 0px;
  }

  .cell-no-overflow-100 {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item-no-overflow-160 {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-align-center {
    text-align: center;
  }

  .toast {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .margin-bottom-0 {
    margin-bottom: 0px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .margin-bottom-30 {
    margin-bottom: 30px;
  }

  .show-on-hover {
    display: none;
  }

  tr:hover > td > .show-on-hover{
    display: block;
  }

  .width-30 {
    width: 30px;
  }

  .flex-container {
    display: flex;
  }

  .panel-countries {
    display: flex;
    flex-wrap: wrap;
  }

  .country-flag {
    flex: 0 0 20%;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .loader-bar {
    background-color: #00000015;
    height: 20px;
  }

  $heights: 10, 15, 20, 25, 30;
  $widths: 20, 30, 40, 50, 70, 100, 120, 150;

  @each $height in $heights {
    @each $width in $widths {
      .loader-bar-#{$height}-#{$width} {
        background-color: #00000015;
        height: $height + px;
        min-width: $width + px;
      }
    }
  }

  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1400px;
  }

  .flex-grid-item {
    flex-basis: 33%;
    max-width: 450px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media(max-width: 1333px) {
    .flex-grid-item {
      flex-basis: 33.33%;
    }
  }
  @media(max-width: 1073px) {
    .flex-grid-item {
      flex-basis: 33.33%;
    }
  }
  @media(max-width: 815px) {
    .flex-grid-item {
      flex-basis: 50%;
    }
  }
  @media(max-width: 555px) {
    .flex-grid-item {
      flex-basis: 100%;
    }
  }

  td {
    > svg {
      margin-left: 5px;
      color: #007bff;
    }
  }

  .dropzone {
    padding: 40px;
      background: #007bff20;
      border-style: dashed;
      border-radius: 3px;
      text-align: center;
  }

  .warning {
    background-color: #f8d7da;
  }

  .progress {
    margin-top: 5px;
  }

  .expense-form-description-suggestions {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

    .item {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }

  .background-active {
    fill: #007bff;
  }

  .background-inactive {
    fill: #cccccc;
  }

  .fill-count-1 {
    fill: #007bff40;
  }

  .fill-count-2 {
    fill: #007bff60;
  }

  .fill-count-3 {
    fill: #007bff80;
  }

  .fill-count-4 {
    fill: #007bffa0;
  }

  .fill-count-5 {
    fill: #007bffff;
  }

  .expense-item {
    align-items: center;
    display: flex;
  }

  .expense-type-badge {
    font-size: 50px;
    padding: 15px;
  }

  .expense-item-payment {
    flex-shrink: 0;
    margin-left: auto;
    text-align: right;
  }

  .expense-item-amount {
    font-size: 28px;
    font-weight: 600;
  }

  .expense-item-amount-decimal {
    font-size: 15px;
    font-weight: 400;
  }

  .expense-item-payment-type {
    text-align: right;
    margin-bottom: 10px;
    display: flex;
  }

  .consumation-item-icon {
    width: 65px;
  }

  .expense-item-icon {
    margin-left: -60px;
    width: 65px;
  }

  .expense-item-flags {
    display: flex;
    gap: 4px;
    margin-left: auto;
  }

  .expense-item-content {
    display: inline;
  }

  .expense-item-title {
    font-size: 20px;
    margin-left: 20px;
  }

  .expense-item-date {
    color: gray;
    font-size: 14px;
    margin-left: 20px;
  }

  .loading-status {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
  }
}

.form-grid {
  display: grid;
  gap: 10px;
}