@import '../../node_modules/react-datetime/css/react-datetime';
@import 'overrides.scss';

body {
  font: 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  color: #4d4d4d;
}

#main {
  margin-top: 60px;
}

.cursor-pointer {
  cursor: pointer
}

.padding-0 {
  padding: 0px;
}

.margin-0 {
  margin: 0px;
}

.panel-large {
  height: 600px;
}

.panel-login {
  float: none;
  margin: 0 auto;
  width: 400px;
}

.panel-medium {
  height: 380px;
}

.panel-small {
  height: 230px;
}

.panel-no-padding .panel-body {
  padding: 0px;
}

.panel-large .panel-body {
  height: 600px;
}

.panel-small .panel-body {
  height: 380px;
}

.panel-small .panel-body {
  height: 380px;
}

.panel-tiny .panel-body {
  height: 200px;
}

.border-no-radius {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.border-no-left {
  border-left: 0px;
}

.border-no-right {
  border-left: 0px;
}

.cell-no-overflow-100 {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-no-overflow-160 {
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.toast {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.show-on-hover {
  display: none;
}

tr:hover > td > .show-on-hover{
  display: block;
}

.width-30 {
  width: 30px;
}

.flex-container {
  display: flex;
}

.panel-countries {
  display: flex;
  flex-wrap: wrap;
}

.country-flag {
  flex: 0 0 20%;
  line-height: 20px;
  margin-bottom: 20px;
}

.loader-bar {
  background-color: #00000015;
  height: 20px;
}

$heights: 10, 15, 20, 25, 30;
$widths: 20, 30, 40, 50, 70, 100, 120, 150;

@each $height in $heights {
  @each $width in $widths {
    .loader-bar-#{$height}-#{$width} {
      background-color: #00000015;
      height: $height + px;
      min-width: $width + px;
    }
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1400px;
}

.flex-grid-item {
  flex-basis: 33%;
  max-width: 450px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

@media(max-width: 1333px) {
  .flex-grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .flex-grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .flex-grid-item {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .flex-grid-item {
    flex-basis: 100%;
  }
}

td {
  > svg {
    margin-left: 5px;
    color: #007bff;
  }
}