@import '../../node_modules/react-redux-toastr/src/styles/index';
@import '../../node_modules/react-datetime/css/react-datetime';

body {
  font: 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: #4d4d4d;
}

#main{
  margin-top: 80px;
}

.padding-0 {
  padding: 0px;
}

.panel-medium {
  height: 380px;
}

.panel-small {
  height: 200px;
}

.panel-no-padding .panel-body {
  padding: 0px;
}

.panel-small .panel-body {
  height: 380px;
}

.panel-tiny .panel-body {
  height: 200px;
}

.border-no-radius {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.border-no-left {
  border-left: 0px;
}

.border-no-right {
  border-left: 0px;
}

.cell-no-overflow-100 {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-no-overflow-160 {
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}